<h1>Articles#index</h1>
<p>Find me in app/views/articles/index.html.erb</p>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
        </tr>
    </thead>

    <tbody>
        <% @articles.each do |article| %>
            <tr>
                <td><%= article.id %></td>
                <td><%= article.title %></td>
                <td><%= article.description %></td>
            </tr>
        
        <% end %>
    </tbody>
</table>

<%= link_to 'New Article', new_article_path %>
